body {
    background-color: black;
}

.cpicok {
    color: #d4d4d4;
    font-family: sans-serif;
    display: flex;
    list-style: none;
    cursor: pointer;

}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.cpicok:hover {
    color: white;
}

.h {
    color: aliceblue;
    font-family: monospace;
    font-size: 30px;
}

header {
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    color: aliceblue;
    font-family: cursive;
}

.advantages {
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 50px;
}

.cpicok2 {
    color: aliceblue;
    list-style: none;
}

.h2 {
    color: #feca30;
    font-size: 50px;
    font-family: monospace;
}


.tb {
    color: aliceblue;
    padding: 20px;
}

/* * {
    outline: 1px solid red;
} */

.container {
    width: 1040px;
    margin: 0 auto;
    padding: 0;
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p {
    color: aliceblue;
    font-family: cursive;
}



nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer {
    background-color: #131313;
    margin: 20px;
}



button {
    border-radius: 100px;
    color: black;
    background-color: yellow;
    font-family: cursive;
    width: 250px;
    height: 50px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-yellow {
    background-color: #feca30;
}

.btn-yellow:hover {
    background-color: white;
}

li {
    color: aliceblue;
    list-style: none;
    font-family: cursive;
    padding: 20px;
}


.right-column {
    display: flex;
    /*width:;
    margin: ;*/
    flex-direction: row;
    
}


.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.f {
    display: flex;
}


.time-info {
    width: 440px;
    width: 180px;
}

.header-table {
    display: flex;
}

.l {
    color: #feca30;
}

.l:hover{
    color: white;
}

.pe{
    padding-top: 100px;
    padding-left: 234px;
}

.table{
    width: auto;
}

.teb{
    padding: 100px;
}

footer{
    padding: 50px;
}